$colores:(
    color1:rgb(65, 129, 248),
    color2:yellow,
    color3:black,
    color4:white,
    color5:beige,
    color6: rgba(64, 64, 161, 0.575),
    color7:rgba(245, 245, 220, 0.459),
    color8:aqua,
)

