@media (min-width: 431px) and (max-width: 650px) {
    .navegacion {

        font-size: 1.25rem;
        justify-content: space-around;
    }
    .noticias{
        background-color: yellow;
        width: 700px;
        
    }
    .card{
        width: 700px
    }
    
        
    }
    

